:root {
  /* fonts */
  --font-source-code-pro: "Source Code Pro";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 24px;
  --font-size-lg: 40px;

  /* Colors */
  --screen: #111;
  --text: #fcddec;

  /* Gaps */
  --gap-sm: 10px;
  --gap-md: 14px;

  /* Paddings */
  --padding-sm: 4px;
  --padding-md: 7px;

  /* border radiuses */
  --br-md: 1px;
}