:root {
  /* fonts */
  --font-source-code-pro: "Source Code Pro";

  /* font sizes */
  --font-size-base: 14px;
  --font-size-lg: 24px;
  --font-size-xl: 40px;
  --font-size-2xl: 96px;

  /* Colors */
  --iris-100: #5d5fef;
  --text: #fcddec;
  --color-white: #fff;

  /* Gaps */
  --gap-0: 0px;
  --gap-md: 10px;

  /* Paddings */
  --padding-sm: 4px;
  --padding-md: 7px;

  /* border radiuses */
  --br-sm: 1px;
  --br-md: 2px;
}
