body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ai-and-automation,
.information-technology-service {
  position: absolute;
  top: 760.77px;
  left: 39px;
  display: inline-block;
  width: 143px;
  height: 24.23px;
}
.information-technology-service {
  top: 0;
  left: 0;
  width: 1178.37px;
  height: 489.64px;
}
.game-development,
.v-100,
.web-development {
  position: absolute;
  top: 31.23px;
  left: 1195px;
  display: inline-block;
  width: 59px;
  height: 24.33px;
}
.game-development,
.web-development {
  top: 973.51px;
  left: 627px;
  width: 126px;
  height: 24.23px;
}
.game-development {
  top: 145.64px;
  left: 554.5px;
  width: 135px;
}
.text {
  position: absolute;
  top: 23.21px;
  left: 98px;
  width: 1254px;
  height: 997.75px;
}
.innova-title-11 {
  position: relative;
  width: 420px;
  height: 334px;
  flex-shrink: 0;
  object-fit: cover;
}
.title2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact3 {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--screen);
  text-align: left;
}
.action {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  border-radius: var(--br-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title1 {
  width: 432px;
  height: 457px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.option {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--text);
  text-align: left;
}
.action1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: transparent;
  border-radius: var(--br-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.action-parent,
.action2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.action2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  border-radius: var(--br-md);
  align-items: center;
}
.action-parent {
  padding: 10px;
  align-items: flex-start;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text);
  width: 880px;
  height: 76px;
}
.our-products {
  position: absolute;
  top: 13px;
  left: 31.03px;
  letter-spacing: 0.16em;
  font-weight: 800;
}
.rectangle-parent {
  position: relative;
  width: 880px;
  height: 76px;
  flex-shrink: 0;
}
.action-group,
.frame-group {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
}
.action-group {
  width: 236px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.frame-group {
  height: 381px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent,
.title-parent {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
}
.frame-parent {
  border-radius: 13px;
  width: 880px;
  height: 658px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: column;
  padding: 181px 0 0;
  justify-content: flex-start;
  margin-left: -155px;
}
.title-parent {
  flex-direction: row;
  padding: 180px 0 0;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--screen);
}
.hero,
.title-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1141px;
}
.chat-with-us1 {
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 800;
}
.icon-twitter1 {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.icon-twitter-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  width: 200px;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.icon-instagram1 {
  position: relative;
  width: 25px;
  height: 24.99px;
  flex-shrink: 0;
}
.chat-with-us-group,
.contact8 {
  display: flex;
  align-items: center;
}
.chat-with-us-group {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.contact8 {
  position: absolute;
  top: 1141px;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(252, 221, 236, 0.1),
    rgba(252, 221, 236, 0)
  );
  width: 1440px;
  height: 370px;
  flex-direction: row;
  padding: 49px 526px;
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.web {
  position: relative;
  background-color: var(--screen);
  width: 100%;
  height: 1511px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--text);
  font-family: var(--font-source-code-pro);
}
.innova-title-1 {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.title {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chat-with-us {
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 800;
}
.icon-twitter {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.twitter {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--screen);
  text-align: left;
}
.icon-twitter-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  width: 200px;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.icon-instagram {
  position: relative;
  width: 25px;
  height: 24.99px;
  flex-shrink: 0;
}
.chat-with-us-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.chat-with-us-parent,
.contact-inner {
  align-self: stretch;
  align-items: center;
}
.contact,
.contact-inner,
.contact1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact1 {
  align-self: stretch;
  flex: 1;
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(252, 221, 236, 0.2),
      transparent
    ),
    #111;
  padding: 114px 0 64px;
  align-items: center;
}
.contact {
  position: relative;
  background-color: var(--screen);
  width: 316px;
  height: 932px;
  overflow: hidden;
  align-items: flex-start;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--font-source-code-pro);
}
