body {
  margin: 0;
  line-height: normal;
}
.innova,
.innova1,
.innova2 {
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 800;
  display: inline-block;
}
.innova1,
.innova2 {
  -webkit-text-stroke: 3px #fcddec;
}
.innova2 {
  -webkit-text-stroke: 1.5px #fcddec;
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.unsplashohou-5uviyq-icon {
  position: absolute;
  top: 0;
  left: -45.44px;
  border-radius: var(--br-md);
  width: 286.48px;
  height: 290px;
  object-fit: cover;
}
.web-hosting {
  position: absolute;
  top: 234px;
  left: 12px;
  letter-spacing: 0.16em;
  font-weight: 800;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.9;
}
.group-div1 {
  position: relative;
  width: 241.33px;
  height: 290px;
  flex-shrink: 0;
}
.unsplashbmilykzhkmy-icon {
  position: absolute;
  top: 0;
  left: -45.95px;
  border-radius: var(--br-md);
  width: 286.99px;
  height: 293.21px;
  object-fit: cover;
}
.consulting {
  position: absolute;
  top: 236.59px;
  left: 8.67px;
  letter-spacing: 0.16em;
  font-weight: 800;
  display: inline-block;
  width: 179.97px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.9;
}
.group-div2 {
  position: relative;
  width: 241.33px;
  height: 293.21px;
  flex-shrink: 0;
}
.game-dev {
  position: absolute;
  top: 236.59px;
  left: 12.33px;
  letter-spacing: 0.16em;
  font-weight: 800;
  display: inline-block;
  width: 143.57px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.9;
}
.hover-cards {
  position: absolute;
  top: 118px;
  left: 209.05px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: var(--font-size-lg);
}
.group-div {
  position: absolute;
  top: 129px;
  left: 238.47px;
  width: 963.05px;
  height: 407.54px;
}
.contact {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--iris-100);
  text-align: left;
  display: inline-block;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  position: absolute;
  top: 648.54px;
  left: 621.88px;
  border-radius: var(--br-sm);
  width: 196.25px;
  height: 75.23px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.ai-and-automation {
  position: absolute;
  top: 544.17px;
  left: 166px;
  display: inline-block;
}
.information-technology-service,
.v-100 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1178.37px;
  height: 363.67px;
}
.v-100 {
  top: 23.2px;
  left: 1195px;
  width: 59px;
  height: 18.07px;
}
.game-development,
.web-development {
  position: absolute;
  top: 594.17px;
  left: 784px;
  display: inline-block;
}
.game-development {
  top: 108.17px;
  left: 554.5px;
}
.group-div4 {
  position: absolute;
  top: 20.83px;
  left: 98px;
  width: 1254px;
  height: 612.17px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.hero {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-2xl);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text);
  width: 1106px;
  height: 76px;
}
.our-products {
  position: absolute;
  top: 13px;
  left: 39px;
  letter-spacing: 0.16em;
  font-weight: 800;
  display: inline-block;
}
.group-div5 {
  position: relative;
  width: 1106px;
  height: 76px;
  flex-shrink: 0;
}
.frame-button1,
.frame-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  border-radius: var(--br-sm);
  height: 75.23px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-button2 {
  width: 196.25px;
}
.catalog,
.frame-div1,
.frame-nav {
  display: flex;
  flex-direction: column;
}
.frame-nav {
  flex: 1;
  padding: 0 0 0 93px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 55px;
}
.catalog,
.frame-div1 {
  flex-shrink: 0;
  justify-content: flex-start;
}
.frame-div1 {
  border-radius: 13px;
  background-color: var(--iris-100);
  width: 1106px;
  height: 574px;
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-0);
}
.catalog {
  align-self: stretch;
  background: linear-gradient(180deg, rgba(38, 38, 38, 0), #262626 8.85%);
  height: 818px;
  padding: 0 167px;
  box-sizing: border-box;
  align-items: center;
  margin-top: -184px;
  color: var(--iris-100);
}
.icon-twitter {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.frame-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  width: 200px;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.icon-instagram {
  position: relative;
  width: 25px;
  height: 24.99px;
  flex-shrink: 0;
}
.frame-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.frame-div2 {
  position: absolute;
  top: 226px;
  left: 243px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.contact4,
.web {
  position: relative;
}
.contact4 {
  align-self: stretch;
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(252, 221, 236, 0.2),
      transparent
    ),
    linear-gradient(180deg, rgba(38, 38, 38, 0), #111 8.85%);
  height: 627px;
  flex-shrink: 0;
  margin-top: -184px;
}
.web {
  background-color: var(--iris-100);
  width: 100%;
  height: 2101px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text);
  font-family: var(--font-source-code-pro);
}
