body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ai-and-automation,
.information-technology-service {
  position: absolute;
  top: 530.36px;
  left: 166px;
  display: inline-block;
  width: 143px;
  height: 17.54px;
}
.information-technology-service {
  top: 0;
  left: 0;
  width: 1178.37px;
  height: 354.44px;
}
.game-development,
.v-100,
.web-development {
  position: absolute;
  top: 1em;
}
.game-development,
.web-development {
  top: 704.7px;
  left: 627px;
  width: 126px;
  height: 17.54px;
}
.game-development {
  top: 105.43px;
  left: 554.5px;
  width: 135px;
}
.ai-and-automation-parent {
  position: absolute;
  top: 20.3px;
  left: 98px;
  width: 1254px;
  height: 722.24px;
}
.innova-title-11 {
  position: relative;
  width: 420px;
  height: 334px;
  flex-shrink: 0;
  object-fit: cover;
}
.title2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact7 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--screen);
  text-align: left;
}
.title1 {
  width: 432px;
  height: 457px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text);
  width: 50vw;
  height: 2em;
}
.our-products1 {
  position: absolute;
  top: 13px;
  left: 39px;
  letter-spacing: 0.16em;
  font-weight: 800;
}
.rectangle-group {
  position: relative;
  width: 1106px;
  height: 76px;
  flex-shrink: 0;
}
.action-group,
.contact-frame {
  display: flex;
  justify-content: center;
}
.contact-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  border-radius: var(--br-md);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.action-group {
  flex: 1;
  flex-direction: column;
  padding-left:93px;
  align-items: flex-start;
  gap: 2em;
}
.group-container,
.title-parent {
  flex-shrink: 1;
  display: flex;
  align-items: flex-start;
}
.group-container {
  border-radius: 13px;
  width: 1106px;
  height: 743px;
  margin-top: 20vh;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-left: -113px;
}
.title-parent {
  position: absolute;
  height: 100vh;
  left: 1em;
  top: 2em;
  flex-direction: row;
  justify-content: center;
  gap: 8vw;
}
.hero-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 998px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--screen);
}
.hero {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.chat-with-us1 {
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 800;
}
.icon-twitter1 {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.icon-twitter-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  width: 200px;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.icon-instagram1 {
  position: relative;
  width: 25px;
  height: 24.99px;
  flex-shrink: 0;
}
.chat-with-us-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.contact-child {
  position: absolute;
  top: 411px;
  left: 482px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.contact11,
.web {
  position: relative;
}
.contact11 {
  align-self: stretch;
  flex: 1;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(252, 221, 236, 0.1),
    rgba(252, 221, 236, 0)
  );
  margin-top: -184px;
  font-size: var(--font-size-lg);
}
.web {
  background-color: var(--screen);
  width: 100%;
  height: 1812px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text);
  font-family: var(--font-source-code-pro);
}
