body {
  margin: 0;
  line-height: normal;
  background-color: var(--screen);
}
.option {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--text);
  text-align: left;
}
.action {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: transparent;
  border-radius: var(--br-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.contact {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--screen);
  text-align: left;
}
.action-parent,
.action1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.action1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  border-radius: var(--br-md);
  align-items: center;
}
.action-parent {
  padding: 10px;
  align-items: flex-start;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text);
  width: 100%;
  height: 76px;
}
.our-products {
  position: absolute;
  top: 13.45px;
  left: 11.3px;
  letter-spacing: 0.16em;
  font-weight: 800;
  display: inline-block;
  width: 418.7px;
}
.rectangle-parent {
  align-self: stretch;
  position: relative;
  height: 76px;
  flex-shrink: 0;
}
.contact-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  border-radius: var(--br-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-parent,
.instance-parent {
  align-self: stretch;
  align-items: flex-start;
}
.instance-parent {
  display: flex;
  flex-direction: row;
  padding: 0 6px 0 0;
  justify-content: center;
  gap: 32px;
}
.group-parent {
  flex: 1;
  border-radius: 4px;
  overflow: hidden;
  justify-content: flex-start;
  gap: 15px;
}
.group-parent,
.mob,
.popup-overlay {
  display: flex;
  flex-direction: column;
}
.mob {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--screen);
  font-family: var(--font-source-code-pro);
}
.popup-overlay {
	position: fixed;
	left: 100%;
	background-color: black;
	display: none;
	transition: all 1s linear;
}
.popup-overlay.closable{
	display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.innova-title-1 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.title {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chat-with-us {
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 800;
}
.icon-twitter {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.twitter {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.16em;
  font-weight: 800;
  font-family: var(--font-source-code-pro);
  color: var(--screen);
  text-align: left;
}
.icon-twitter-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--text);
  width: 200px;
  height: 49px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.icon-instagram {
  position: relative;
  width: 25px;
  height: 24.99px;
  flex-shrink: 0;
}
.chat-with-us-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.chat-with-us-parent,
.contact-inner {
  align-self: stretch;
  align-items: center;
}
.contact-inner,
.contact4,
.contact5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact5 {
  align-self: stretch;
  flex: 1;
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(252, 221, 236, 0.2),
      transparent
    ),
    #111;
  padding: 114px 0 64px;
  align-items: center;
}
.contact4 {
  position: absolute;
  background-color: var(--screen);
  top: 0%;
  right: 0%;
  width: 60vw;
  height: 100vh;
  overflow: hidden;
  align-items: flex-start;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--text);
  font-family: var(--font-source-code-pro);
}
