.action-parent {
	padding: 10px;
	align-items: flex-start;
}
.group-child {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--text);
	width: 100%;
	height: 2em;
}
#categories {
	display: none;
}
.popup-overlay.closable{
	display: flex;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
	z-index: 100;
	background-color: black;
	align-items: center;
	justify-content: center;
}

#products{
	z-index: 50;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	gap: 1em;
}

#products > .action1{
	min-height: 20vw;
	width: 100%;
	margin: .2em
}
.item-image{
	max-height: 3em;
}
.item-desc{
	font-size: medium;
	font-weight: bold;
	width: 30em;
}