:root{
	--theme: #FCDDEC;
	--background: #1e1e1e;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 2rem;
  overflow-x: hidden;
}

#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#filter{
	padding: 1rem 2rem;
	border-radius: 5px;
	gap: 1rem;
	height: fit-content;
	text-align: right;
	max-width: fit-content;
}
.filter_item{
	font-size: 1.2rem;
	font-weight: bold;
}
#catalog{
	justify-content: space-around;
	width: 100%;
}
.catalog_header{
	background-color: var(--theme);
	color: var(--background);
	border-radius: 5px;
	font-size: 2rem;
	font-weight: bolder !important;
	padding: .5rem 2rem
}
.logo{
	max-height: 3rem;
}
.panel{
	border-radius: 5px;
	overflow: hidden;
}
.spread{
	width: 100%;
	justify-content: space-between;
}
.row{
	display: flex;
	flex-direction: row;
}
.col{
	display: flex;
	flex-direction: column;
}
.wrap{
	display: flex;
	flex-wrap: wrap;
}
.nav{
	align-items: end;
	gap: 2rem;
}
.icon{
	font-size: 1.5rem;
}
#catalog_list{
	width: auto;
	justify-content: space-between;
	gap: 1rem;
	margin: 0rem 2rem;
}
#featured_list{
	width: 100%;
	justify-content: space-between;
	gap: 6rem;
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
	padding: 2rem;
}
#featured_list::-webkit-scrollbar {
	display: none;
  }

.catalog_item{
	border-radius: 5px;
	width: 28%;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all .5s;
	overflow: hidden;
	&:hover{
		transform: scale(110%);
	}
}
.featured_item{
	border-radius: 5px;
	min-width: 53rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: all 1s;
	overflow: hidden;
	&:hover{
		transform: scale(105%);
	}
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.desc{
	background-image: linear-gradient(rgba(0,0,0,0%), rgba(0,0,0,75%), rgba(0,0,0,100%));
	padding: 1rem
}
.modal{
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	background-color: rgba(0,0,0,75%);
}
.item{
	position: absolute;
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&>.desc{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
.button{
	padding: .5rem 2rem;
	font-weight: bold;
	border-radius: 5px;
	background-color: transparent;
	color: var(--theme);
	border: 1px solid var(--theme);
	cursor: pointer;
}
.button.action{
	color: var(--background);
	background-color: var(--theme);
	border: none;
}

.no_border{
	border: none !important;
}

#container2{
	padding: 0 2rem;
}
@media screen  and (max-width: 800px) {
	#root{
		padding: 0;
		justify-content: center;
		margin: .8rem;
		width: 100%;
	}
	#filter{
		flex-direction: row !important;
		max-width: 100%;
		width: auto;
		justify-content: space-between;
	}
	#catalog{
		flex-direction: column;
		align-items: stretch;
		padding: 0;
	}
	.catalog_item{
		width: auto;
	}
	#catalog_list{
		flex-direction: column;
		margin: 0;
	}
}